table {
	color: black;	
	width: 100%;
}

td {
	border: black 1px solid;
}

td.dato {
	padding: 0px;
	margin: 0px;
	width: 20%;
	/*Letra*/
	text-align: center;
	background: linear-gradient(to bottom, yellow, orange, red);
	font-weight: bold;
}


input, textarea, select{
	padding: 0px;
	margin: 0px;
	width: 100%;
}

input.boton{
	padding: 5px;
	margin: 0px;
	cursor: pointer;	
	background: linear-gradient(to bottom, gray, white);
	text-align: center;
}

button {
	width: 100%;
	padding: 5px;
	margin: 0px;
	cursor: pointer;	
	background: linear-gradient(to bottom, gray, white);
	text-align: center;
}


input.boton:hover {background: linear-gradient(to bottom, white, gray);}
